*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
    body{
      font-family: roboto,sans-serif;
      font-size: 14px;
      line-height: 24px;
    }
    a{
      text-decoration: none;
      display: inline-block;
    }
    ul{
      list-style: none;
    }
    img{
      /* height: 100%; */
      /* width: 100%; */
      object-fit: cover;
    }
    .container{
      width: 100%;
      margin: auto;
      overflow: hidden;
      object-fit: cover; 
    }
    .spacer{
      padding-top: 80px;
      padding-bottom: 80px;
    }
    .flex{
      display: flex;
      flex-wrap: wrap;
    }
    .justify-center{
      justify-content: center;
    }
    .align-center{
      align-items: center;
    }
    /* =========top header======== */
    .bgblue{
      background-color:#252930;
      color: white;
    }
    .top-info{
      padding: 10px 0;
    }
    .icon{
      color: #d1af78;
      font-size: 16px;
    }
    .logo img{
      width: 190px;
    }
@media (max-width:720px)  and (min-width:0px){
  .navbar-toggler{
    font-size: 16px;
  }
  .navbar-brand .logo{
    height: 55px;
    width: 55px;
  }
}
    .btn{
      font-size: 16px;
      background-color: #d1af78;
      color: white;
      border: none;
      border-radius: 0%;
      padding: 5px;
      transition: .3s;
    }
    
    .btn:hover{
      background-color: #252930;
      transition: .3s;
    }
    .home{
      color: #d1af78;
    }
    .navbar-collapse{
      font-size: 16px;
      color: #252930;
    }
    .navbar-collapse:hover{
      color:#d1af78;
    }
    .main-head{
      top: 120px;
    }
    .btn1{
      font-size: 16px;
      background-color: white;
      color:#d1af78;
      border: none;
      border-radius: 0%;
      padding: 5px;
      transition: .3s;
    }
    .btn1:hover{
      background-color: #d1af78;
    }
     .txt{
      top: 100px;
    } 
@media screen {
  .carousel-indicators{
    width:0px ;
  }

}
@media screen {
  .carousel-control-next-icon {
    background-image:none;
}
.carousel-control-prev-icon {
  background-image:none;
}
  
}

/* =============carousel========= */

/* ===========about======== */
.about-area{
  position: relative;
  top: 150px;
}
.about-left{
  position: relative;
}
.about-img {
    width: 370px;
    height: 360px;
    background-color: #D1AF78;
    position: relative;
}
.about-img img {
  position: absolute;
}
.img1 {
  bottom: -60px;
  left: 100px;
  z-index: 1;
}
.img2{
  /* top: -60px; */
  right: 100px;
  z-index: 2;
}
.about-right {
  position: relative;
  display: block;
  padding-left: 30px;
}
.heading{
  position: relative;
  z-index: 1;
}
.site-title{
  text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 18px;
    font-weight: 600;
    color: #D1AF78;
    position: relative;
}
.main-title{
  font-weight: 700;
    text-transform: capitalize;
    font-size: 50px;
    color: #252930;
    font-family: 'Playfair Display', serif;
    margin-bottom: 0;
}
.about-topic{
    position: relative;
    display: block;
    margin-top: 20px;
}
.about-list{
  position: relative;
    display: block;
}
.about-list li {
  position: relative;
  padding-right: -10px;
  margin-top: 10px;
}
.listing{
  margin-left: -40px;
}
@media (max-width: 510px)  {
  .about-img  .img2{
    right: 150px;
  }
  .about-right{
    top: 20px;
    right: 40px;
  }
  .main-title{
    font-size: 40px;
  }
}
@media (max-width:768px) {
  .about-left{
    left: 90px;
  }
  .about-right{
    top: 20px;
  }
  .about-img .img1{
    height: 80%;
    width: 90%;
  }
}
  @media (max-width:468px) {
    .about-img .img1{
      height: 80%;
      width: 80%;
    } 
    .about-img .img2{
      height: 80%;
      width: 80%;
    } 
    .about-img{
      right: 140px;
    }
  }
@media (max-width:320px) {
  .heading{
    justify-content: space-between;
    right: 30px;
    padding: 0;
  }
  .about-text {
    right: 50px;
    padding: 0;
  }
  li{
    font-size: 12px;
  }
}
/* ============exibition=========== */
.e-area{
  background-color: #252930;
  position: relative;
  margin-top: 250px;
}
.site-heading {
  margin-bottom: 50px;
  position: relative;
  top: 30px;
  z-index: 1;
}
.title-tagline {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 18px;
    font-weight: 600;
    color: #D1AF78;
    position: relative;
}
.text-title{
  font-weight: 700;
    text-transform: capitalize;
    font-size: 50px;
    margin-bottom: 0;
    /* font-family: 'Playfair Display', serif; */
}
.exibition{
  top: 20px;
  margin-top: 30px;
}
.e-img{
  position: relative;
  overflow: hidden;
}
.e-img  img{
  max-width: 100%;
  height: auto;
}
.e-meta{
  color: #D1AF78;
    padding: 10px 0;
    letter-spacing: 4px;
    font-weight: 500;
    text-transform: uppercase;
}
.e-title{
  color:white;
    margin: 0px;
    font-weight: 600;
    font-family: 'Playfair Display', serif;
    line-height: 1.2;
    font-size: 22px;
}
.e-data{
  margin-top: 15px;
    color: #D1AF78;
    text-transform: uppercase;
}

/* ==========event=========== */
.event{
  background-color: #edeeef;
  top: 90px;
  position: relative;
}
.event-head{
    margin-bottom: 50px;
    position: relative;
    top: 30px;
    z-index: 1;
}
.head{
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 18px;
  font-weight: 600;
  color: #D1AF78;
  position: relative;
}
.event-title{
    font-weight: 700;
    text-transform: capitalize;
    font-size: 50px;
    color: #252930;
    margin-bottom: 0;
    
    font-family: 'Playfair Display', serif;
}
.events{
  flex: 0 0 auto;
  width: 50%;
}
.event-item {
  display: flex;
  align-items: center;
  background: #fff;
  border-left: 3px solid #252930;
  padding: 10px;
  margin-bottom: 25px;
  box-shadow: 0 0 40px 5px rgb(0 0 0 / 5%);
  transition: all .5s ease-in-out;
}
.event-item:hover{
  transform: translateY(-10px);
}
.event-img img{
  max-width: 100%;
  height: auto;
}
.event-content {
  padding: 10px 20px;
}
.event-title {
    margin-bottom: 10px;
    transition: all .5s ease-in-out;
    font-size: 22px;
    font-family: 'Playfair Display', serif;
    
}
.e-list {
  display: flex;
  gap: 20px;
    margin-bottom: 10px;
}
.event-list li .i {
  color: #D1AF78;
}
@media (max-width:1140px) {
  .event-item .event-img img{
    height: auto;
    width: 500px;
  }
}
@media (max-width:320px) {
  .event-item{
    display: block;
  }
}
/* ==========collection======== */
.collection{
  margin-top: 170px;
}
.c-item{
  position: relative;
    width: 100%;
    margin-bottom: 25px;
    padding: 15px;
}
.c-img{
  height: 100%;
}
.c-img img{
  width: 100%;
}
.c-img  img:hover{
  transition-duration: 1s;
  transform: rotateX(350deg);
}
img .img{
  max-width: 100%;
  height: auto;
}
.c-content{
  position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.c-inf0{
  position: absolute;
    bottom: 35px;
    left: 50px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

/*  ==============counting==============*/
.count{
  background-color: #252930;
    /* z-index: 1; */
    margin-top: -50px;
}
.content-box{
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 0px;
    /* padding-bottom: 20px; */
    background: #30343B;
    gap: 20px;
    position: relative;
    box-shadow: 0 0 40px 5px rgb(0 0 0 / 5%);
    z-index: 1;
}
.content-box .icon{
  position: relative;
    font-size:55px;
    border-radius: 60px;
    width: 100px;
    padding: 10px;
    height: 100px;
    background: #252930;
    /* margin-top: -30px; */
    z-index: 1;
}
.content-box .icon img {
    width: 50px;
}
.content-box .count{
  display: block;
    line-height: 1;
    color: #fff;
    font-size: 30px;
    font-weight: 600
}
.content-box .title {
  color: #fff;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  font-family: 'Playfair Display', serif;
}
/* ==========video========= */
.video{
  background: url(./img/i24.jpg);
  position: relative;
  margin-top: 80px;
  position: relative;
  background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 0px;
}
.video-icon{
  position: relative;
    display: flex;
    justify-content: center;
    height: 450px;
    z-index: 100;
}
.video-btn{
  /* background-color:#09c398;
  position: absolute;
  color:white; */
  border-radius:50px;
  height: 60px;
  padding: 40px;
  width: 60px;
  margin-left: 10px;
  display: block;
  margin-top:200px ;
}
/* =========blog========= */
.content_box{
  background-color:#fff;
  margin-top: 30px;
  box-shadow: 0  0px 3px #ccc;
  transition: .5s;
  border-radius: 10px;
  color: black;
  margin-left: 15px;
  margin-right: 15px;
  padding: 16px;
 
}
.content_box:hover{
  transform: translateY(-10px);
}
.list-title{
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  cursor: pointer;
}
.list-title:hover{
  color: #D1AF78;
  transition: .3s;
}
p{
  color: #7c7e85;
}
/* ===========slider======= */
.slider{
  background-color:#f5f6fa;
  margin-top: 50px;
}
.fotter{
  background-color: #252930;
}
.fotter-logo img{
  width: 150px;
  margin-bottom: 20px;
}
.content{
  color: #fff;
  padding-right: 18px;
  margin-bottom: 20px;
}
.fotter-contact li {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  color: #f5faff;
  font-size: 16px;
  margin-bottom: 15px;
}
.fotter-contact{
  margin-left: -40px;
}
.f-icon{
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  margin-right: 15px;
  border-radius: 0px;
  padding: 3px;
  background: #D1AF78;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
}
.fotter-widget-title{
  color: #fff;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 30px;
    font-size: 20px;
    z-index: 1;
    margin-left: 50px;
}
.fotter-widget{
  padding-top: 85px;
  margin-left: 16px;
  font-family: 'Playfair Display', serif;
}
.fotter-list {
display: flex;
  flex-direction: column;
  color: white;
  gap: 1rem;
  margin-left: 30px;
}
.ficon {
  margin-right: 5px;
  color: #D1AF78;
  font-size: 22px;
}
.opening-hour {
  margin-right: 20px;
}
.opening-hour li{
  padding: 7px 0;
  margin-left:-30px;
}
.opening-hour li span {
  float: right;
}
.opening-hour li{
  color: white;
}
.footer-newsletter p {
  color: #fff;
  padding-right: 18px;
  margin-bottom: 20px;
}
.subscribe-form .form-control {
  padding: 14px 20px;
  border-radius: 0px;
  box-shadow: none;
  border: none;
  background: #30343B;
  color: #fff;
}
.subscribe-form .theme-btn {
  margin-top: 20px;
  width: 100%;
}
.theme-btn {
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  padding: 10px 22px;
  transition: all 0.5s;
  text-transform: capitalize;
  position: relative;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 0px;
  background: #D1AF78;
  box-shadow: 0 3px 24px rgb(0 0 0 / 10%);
}
.copyright{
  background-color: #30343b;
  color: white;
  /* padding: 10px; */
  font-size: 16px;
}
